<section class="content">
	<%= form_for @post do |f| %>
		<div class="field">
	  		<%= f.label :title %>
	  		<%= f.text_field :title, :class => :title %>
		</div>
		<div class="field">
	  		<%= f.label :description %>
	  		<%= f.text_field :description, :class => :desc %>
		</div>
		<div class="field">
	  		<%= f.label :body %>
	  		<%= f.text_area :body, :class => :body %>
		<div class="field">
	  		<%= f.submit %>
		</div>
	<% end %> 
		<div class="field">
			<form id="file_upload" 
			action="/posts/<%= @post.id %>/uploads" 
			enctype="multipart/form-data"
			method="POST">
			<input name="authenticity_token"
				   type="hidden"
				   value="<%= form_authenticity_token %>">
				<input 
					type="file" 
					multiple="multiple" 
					name="upload[]">
				<input type="submit" value="Upload">
			</form>
			<script>
				$(document).ready(function() {
					//get image list of urls and ids
					var getImages = function() {
						$.ajax({
						url: "/posts/<%= @post.id %>/uploads",
						type: "get",
						success: function(data) {
							var html = "";
							$.each(data, function(index, value) {
								console.log(value);
								html += "<tr><td><a href=\"" + value[0] + "\"><img src=\"" + value[1] + "\"></td><td><button>X</button></td></tr>"

							});
							$("#uploaded_images table tbody").append(html);
						}
						});
					}
					
					//upload new images, call above to refresh list
					$("#file_upload").submit(function(event) {

						var formData = new FormData($(this)[0]);
						$.ajax({
							url: $(this).attr("action"),
							type: $(this).attr("method"),
							enctype: "multipart/form-data",
							data: formData,
							processData: false,
							contentType: false,
							success: function(data) {
								console.log(data);
								console.log(data[0]);
							}
						});
						return false;
					});

					//delete picture
					//placeholder

					getImages();

				});
			</script>
		</div>
		<div class="field" id="uploaded_images">
			<table>
				<thead>
					<th>Image</th>
					<th>Delete?</th>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
</div>