<section class="content">
	<%= form_for @post do |f| %>
		<div class="field">
	  		<%= f.label :title %>
	  		<%= f.text_field :title, :class => :title %>
		</div>
		<div class="field">
	  		<%= f.label :description %>
	  		<%= f.text_field :description, :class => :desc %>
		</div>
		<div class="field">
	  		<%= f.label :body %>
	  		<%= f.text_area :body, :class => :body %>
		<div class="field">
	  		<%= f.submit %>
		</div>
	<% end %> 
		<%= multi_file_upload(@post) %>
	</div>
</section>