<section class="content">
	<%= form_for @post do |f| %>
		<div class="field">
	  		<%= f.label :title %>
	  		<%= f.text_field :title, :class => :title %>
		</div>
		<div class="field">
	  		<%= f.label :description %>
	  		<%= f.text_field :description, :class => :desc %>
		</div>
    <div class="fied">
        <%= f.radio_button :post_type, 'blog_post' %>
        <%= f.label :post_type, 'Post', value: 'post' %>
        <%= f.radio_button :post_type, 'blog_page' %>
        <%= f.label :post_type, 'Page', value: 'page' %>
        <%= f.radio_button :post_type, 'blog_widget' %>
        <%= f.label :post_type, 'Widget', value: 'widget' %>
    </div>
		<div class="field">
	  		<%= f.label :body %>
	  		<%= f.text_area :body, :class => :body %>
		<div class="field">
	  		<%= f.submit %>
		</div>
	<% end %> 
	<%= multi_file_upload(@post, form_authenticity_token) %>
	<%= javascript_include_tag "moar/file_uploads" %>
</section>
