<!DOCTYPE html>
<html>
<head>
  <title>matts_code_cave</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="alternate" type="application/atom+xml" 
  title="matts_code_cave" 
  href="/feed" />
</head>
<body>
  <% unless current_user.nil?  %>
    <% if current_user.role == 'admin' %>
      <div class='error'>You're logged in as admin!</p>
        <%= link_to 'Log out!', destroy_user_session_path, :method => :delete %>
        <%= link_to 'Admin panel', get_admin_path %>
      </div>
    <% end %>
  <% end %>
  <% if flash[:success] %>
    <div class="success"><%= flash[:success]%></div>
  <% elsif flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>
  <div class="container">
    <header>
      <span><%= link_to "matts@codecave:~$", root_path %></span>
      <%= image_tag 'gears.svg' %>
    </header>
    <%= yield %>
    <div class="footer">
    <%= link_to "About", about_path %>
  </div>
  </div>
</body>
</html>
